<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小鹰健康服务平台</title>
    <!--标题logo-->
    <link rel="shortcut icon" href="../../img/favicon.png">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="../../css/new-document.css">
    <link rel="icon" href="" type="image/x-icon">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/highcharts.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery-ui.js"></script>
    <script src="../../js/index.js"></script>
    <script src="../../js/angular.min.js"></script>
</head>
<body ng-app="">
<link rel="stylesheet" href="../../js/bootstrap.table/bootstrap-table.min.css">
<link rel="stylesheet" href="../../js/jquery.niftymodals/component.css">
<!--公用头部-->
<div ng-include="'../headr.html'"></div>
<!--公用头部end-->
<!--内容部分-->
    <div class="news-operation-all">
        <div class="news-operation-all-head">消息作业管理</div>
        <div class="news-operation-all-left">
            <div class="news-operation-all-left-head">
                <div class="s1">
                    <span>
                        作业状态:
                    </span>
                    <select name="select" id="Jobstatus" style="width: 100px;" class="form-control">
                        <option value="-1">全部</option>
                        <option value="1">正常</option>
                        <option value="2">暂停</option>
                        <option value="0">删除</option>
                    </select>
                </div>
                <div class="s2">
                    <span>
                        执行状态:
                    </span>
                    <select name="select" id="Execution" style="width: 100px;" class="form-control">
                        <option value="-1">全部</option>
                        <option value="1">待执行</option>
                        <option value="2">正在执行</option>
                        <option value="3">执行完成（无后续执行计划）</option>
                    </select>
                </div>
                <div class="s3 btn btn-primary btn-bc on">新建作业</div>
            </div>
            <div class="news-operation-all-word">
                <table id="test-table" class="test-table-chronic">
                    <thead>
                        <tr>
                            <th>代码</th>
                            <th>名称</th>
                            <th>类型</th>
                            <th>接收对象</th>
                            <th>发送方式</th>
                            <th>接收人员</th>
                            <th>作业状态</th>
                            <th>执行状态</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="news-operation-all-right">
             <div class="news-operation-all-right-top">
                 <ul>
                     <li>属性</li>
                     <li>日志</li>
                 </ul>
             </div>
            <div class="news-operation-all-right-bottm">
                <ul>
                    <li>
                        <div class="news-operation-all-right-bottm-all">
                            <div class="news-operation-all-right-bottm-checkbox1">
                                <span>作业代码:</span><input type="text" class="form-control">
                            </div>
                            <div class="news-operation-all-right-bottm-checkbox2">
                                <input name="subBox" type="checkbox" />暂停作业
                            </div>
                        </div>
                        <div class="news-operation-all-right-bottm-all">
                            <div class="news-operation-all-right-bottm-checkbox1">
                                <span>作业名称:</span><input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="news-operation-all-right-bottm-all">
                            <div class="news-operation-all-right-bottm-checkbox1">
                                <span>作业类型:</span><input type="radio" name="type">主动作业<input type="radio" name="type">被动作业
                            </div>
                        </div>
                        <div class="news-operation-all-right-bottm-all">
                            <div class="news-operation-all-right-bottm-checkbox1">
                                <span>接收对象:</span><input type="checkbox">所有人群
                            </div>
                            <div class="news-operation-all-right-bottm-checkbox3">
                                <input type="checkbox">一般人群<input type="checkbox">高血压<input type="checkbox">糖尿病<input type="checkbox">老年人<input type="checkbox">精神病
                            </div>
                        </div>
                        <div class="news-operation-all-right-bottm-all">
                            <div class="news-operation-all-right-bottm-checkbox1">
                                <span>接收方式:</span><input type="radio" name="way">短信<input type="radio" name="way">微信<input type="radio" name="way">无微信,则短信
                            </div>
                        </div>
                        <div class="news-operation-all-right-bottm-all">
                            <div class="news-operation-all-right-bottm-checkbox4">
                                <span>发送频率:</span><input type="radio" name="frequency"><span>执行一次</span>
                                <div class="controls input-append date form_date" data-date=""  data-date-format="yyyy-MM-dd" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd">
                                    <input size="16" type="text"  value="" class="form-control" readonly>
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input1" value="" />
                            </div>
                        </div>
                        <div class="news-operation-all-right-bottm-all">
                            <div class="news-operation-all-right-bottm-checkbox5">
                                <input type="radio" name="frequency"><span>重复执行</span>
                                <div class="controls input-append date form_date" data-date=""  data-date-format="yyyy-MM-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                    <input size="16" type="text"  value="" class="form-control" readonly>
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input2" value="" />
                                <span style="margin-left: 10px;">暂时每天执行</span>
                            </div>
                        </div>
                        <div class="news-operation-all-right-bottm-all">
                            <div class="news-operation-all-right-bottm-checkbox6">
                                <div class="controls input-append date form_date" data-date=""  data-date-format="yyyy-MM-dd" data-link-field="dtp_input3" data-link-format="yyyy-mm-dd">
                                    <input size="16" type="text"  value="" class="form-control" readonly>
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input3" value="" />
                                <span style="margin-left: 10px;">暂时每天执行</span><input type="checkbox">无结束日期
                            </div>
                        </div>
                        <div class="news-operation-all-right-bottm-all">
                            <div class="news-operation-all-right-bottm-checkbox1">
                                <span>作业代码:</span>
                                <div style="float: left;" class="controls input-append date form_time" data-date="" data-date-format="hh:ii:ss" data-link-field="dtp_input4" data-link-format="hh:ii:ss">
                                    <input size="16" type="text" class="form-control" value="" readonly>
                                    <span class="add-on"><i class="icon-remove"></i></span>
                                    <span class="add-on"><i class="icon-th"></i></span>
                                </div>
                                <input type="hidden" id="dtp_input4"  value="" /><br/>
                            </div>
                        </div>
                        <div class="news-operation-all-right-bottm-all">
                            <div class="news-operation-all-right-bottm-checkbox1">
                                <span>消息模板:</span><input type="text" class="form-control">
                            </div>
                            <div class="news-operation-all-right-bottm-checkbox1">
                                <span>消息模板:</span><input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="news-operation-all-right-bottm-all">
                            <div class="news-operation-all-right-bottm-checkbox1">
                                <span>执行状态:</span>未执行
                            </div>
                            <div class="news-operation-all-right-bottm-checkbox2">
                                <a class="btn btn-primary btn-bc on">保存</a>
                                <a class="btn btn-primary on">删除</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="news-operation-all-left-head">
                            <div class="s4">
                                <select name="select" id="1" style="width: 100px;" class="form-control">
                                    <option value="1">全部</option>
                                    <option value="2">成功</option>
                                    <option value="3">失败</option>
                                </select>
                                <span>
                                    累计执行5次，成功3次，失败2次。累计发送3人次，短信3次，微信3次。
                                </span>
                            </div>
                        </div>
                        <div class="news-operation-all-word">
                            <table id="tableArchives2" class="table table-hover news-operation-all-top"
                                   data-side-pagination = "server"
                                   data-unique-id="id"
                                   data-toggle="tableArchives2"
                                   data-pagination="true"
                                   data-pagination-loop = "false">
                                <thead>
                                <tr>
                                    <th data-field="index" data-width="50" data-formatter="indexFormatter" data-align="center">序号</th>
                                    <th data-field="organizationCode" data-align="center" >开始时间</th>
                                    <th data-field="organizationSimpleName" data-align="center" >结束时间</th>
                                    <th data-field="organizationFullName" data-align="center">预计数</th>
                                    <th data-field="organizationType" data-align="center">成功数</th>
                                    <th data-field="organizationLevel" data-align="center">短信数</th>
                                    <th data-field="organizationConnectPerson" data-align="center">微信数</th>
                                    <th data-field="organizationConnectPhone" data-align="center">次数</th>
                                    <th data-field="organizationConnectPhone" data-align="center">状态</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!--内容部分end-->
<!--尾部-->
<div ng-include="'../foot.html'"></div>
<!--尾部end-->

<link rel="stylesheet" type="text/css" href="../../js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="../../js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../js/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>
<script src="../../js/News-operation.js"></script>
</body>
</html>